:root {
    --light-color: #74BF04;
    --dark-color: #488C03; 
  }
  

.field {
    background-color: lightgray;
    height: 10px;
    width: 10px;
    height: 5px;
    width: 5px;
}

.icon {
    margin: 1%;
}

.active{
    background-color: black;
}

#serverSpace {
    width: 70%;
    background-color: black;
    color: var(--light-color);
    padding: 0 5%;
    font-family: monospace;
    /*font-size: 1.4em;*/
    height: 40vh;
    overflow-y: scroll;
}

#gridSpace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#translaterSpace{
    height: 40vh;
    width: 30vw;
    border: 1px solid grey;

}

#inputArea {
    margin: 2% 0;
}

.breakPoint {
    padding: 0 20px;
}

.rowNumber {
    padding: 0 10px;
}

.imageBuilderField {
    width: 30px;
    height: 30px;
    border: 1px solid;
}

.inputField {
    width: 20px;
}

.inputField {
    width: 20px;
    height: fit-content;
    /*font-size: 1.3em;*/
    text-align: center;
    border: 1px solid lightgray;
    cursor: pointer;
}

.inputSupport {
    margin: 0;
    font-weight: bold;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    color: var(--dark-color);
    font-family: "Momo Trust Display", sans-serif;
}

.openingButton {
    height: 4vh;
    width: 20vw;
    /*font-size: 1.5vw;*/
    margin: 2%;
}

.buttonStyle{
    font-family: "Momo Trust Display", sans-serif;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    color: #0C0D0C;
    cursor: pointer;
    border-radius: 1vw;
    font-size: 0.8em;
}

#startbutton {
    height: 3vh;
    width: 14vw;
    font-size: 1vw;
    margin: 2vh;
}

.disabledButton {
    color: var(--dark-color);
    cursor: not-allowed;
}

.tableName{
    font-size: 1.3em;
    font-family: "Momo Trust Display", sans-serif;
}

#changeRecipientTable {
    width: 300px;
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    border: 2px solid var(--light-color);
}

.exhaustInput, .exhaustField{
    background-color: lightgray;
    height: 30px;
    width: 30px;
}

.exhaustInput{
    cursor: pointer;
    font-size: 25px;
    font-family: "Momo Trust Display", sans-serif;
}

.exhaustActive{
    background-color: black;
}

#exhaustCheck{
    height: 30px;
    width: 100px;
    font-size: 14px;
}

#exhaustResults{
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
}

#exhaustResultText{
    padding: 1%;
}

.flexCenter{
    display: flex;
    justify-content: center;
}

.flexEvenly {
    display: flex;
    justify-content: space-evenly;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.verticalDistance{
    margin: 2% 0;
}