@import "./styles/input.css";
@import "./styles/button.css";

@font-face {
  font-family: 'OffBit';
  src: url("/fonts/OffBit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'OffBit Bold';
  src: url("/fonts/OffBit-Bold.ttf") format("truetype");
}

:root {
  --bg: #1F1F1F;
  --muted-grey: #717171;
  --white: #E0E4DD;
  --accent: #5BEE4E;
  --danger: #EE4E4E;  

  --sans: 'Momo Trust Sans', system-ui, sans-serif;
  --heading: 'OffBit Bold', system-ui, sans-serif;
  --mono: 'Cascadia Code', ui-monospace, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--white);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1724px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  font-family: inherit;
  outline-color: var(--accent);
  outline-offset: 2px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--sans);
}

p {
  margin: 0;
  font-family: var(--sans);
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

pre {
  font-family: var(--mono);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

*:focus-visible {
  outline: 2px solid var(--accent);
}